@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #3e2723;
  --control-color: #ffab00;
  --foreground-rgb: 255, 255, 255;

  --background-color: #3e2723;
  --primary-color: #1c1110;
  --accent-color: #f3e5f5;
  --foreground-color: #e0e0e0;
  --highlight-color: #ffd700;
  --accent-color-alt: #006400;
  --primary-color-alt: #420101;
  --shadow-color: #1f1e1e;
}

@media (prefers-color-scheme: dark) {
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(0, 0, 0));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
