@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  
}
/* 
@media (prefers-color-scheme: dark) {
}

body {
  background-repeat: no-repeat;
  color: var(--foreground-color);
  background-position: bottom center;
  background-image: url("/pinsa.png");
  background-color: var(--background-color);
  background-size: 45%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
