@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --control-color: #ffffff;
  --foreground-rgb: 255, 255, 255;

  --background-color: #940920;
  --primary-color: #1c1110;
  --accent-color: #f3e5f5;
  --foreground-color: #e0e0e0;
  --highlight-color: #ffffff;
  --accent-color-alt: #00aa00;
  --primary-color-alt: #420101;
  --shadow-color: #1f1e1e;
}

@media (prefers-color-scheme: dark) {
}

body {
  background-repeat: no-repeat;
  color: var(--foreground-color);
  background-position: bottom center;
  background-image: url("/pinsa.png");
  background-color: var(--background-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
