.donutChart {
  transform: rotate(-90deg);
  min-width: 500px;
  max-width: 500px;
}

.outerCircle {
  stroke-width: 3;
  fill: transparent;
  stroke-dasharray: 100;
  stroke: var(--accent-color-alt);
}

.innerCircle {
  fill: transparent;
  stroke-width: 0.25;
  stroke: var(--highlight-color);
}

.center {
  fill: transparent;
}

.text {
  fill: white;
  justify-content: center;
  transform: rotate(90deg);
}

.textLarge {
  font-size: 7pt;
}

.textSmall {
  font-weight: bold;
  font-size: 1.5pt;
}

.smallLabel {
  font-size: 1pt;
}

.totalCircle {
  stroke-dasharray: 1px;
}

@media only screen and (max-width: 600px) {
  .donutChart {
    min-width: 300px;
  }
}
